.repl_history
build
tags
app/pixate_code.rb
resources/*.nib
resources/*.momd
resources/*.storyboardc
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea
config/environment.yaml
vendor/Parse.framework/build-iPhoneSimulator/
vendor/Pods/.build/
vendor/Pods/build-iPhoneSimulator/
